[project]
	description = portal-ng will develop a web based user interface that serves as the first discovery point for the ONAP framework, it’s existing web applications and functions.
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-portal-ng-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
